<div id="footer"><p id="copyright" class="text-center text-dark">© Copyright</p></div>

<!-- JS links -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="assets/javascript/profile.js"></script>
<script src="assets/javascript/index.js"></script>
<script src="assets/javascript/signup.js"></script>
<script src="assets/javascript/edit-profile.js"></script>