<!-- Page loading gif  -->
<div id="load-gif"></div>

<!-- Navbar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="/">CodeBook</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
              
        <div class="mobile-dropdown collapse navbar-collapse" id="navbarSupportedContent">

        <form method="GET" action="/search" class="form-inline">
            <input class="form-control mr-sm-2" id="search-bar" name="searchTerm" type="search" required="" placeholder="Search for a User with name, email or Git ID" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search-btn">Search</button>
        </form>
        
        <% if (typeof userInfo != 'undefined') { %>
            <div class="d-flex">
                <div class="btn-group">
                    <button type="button" class="btn btn-info"><a id="profile-link" href="/profile/<%= userInfo.id %>">Hi, <%= userInfo.first_name %></a></button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                    <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuReference">
                    <a class="dropdown-item" href="/edit-profile">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        <% }else{ %>
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Log In
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <form method="POST" action="/login" class="px-4 py-3 needs-validation" novalidate="">
                    <div class="form-group">
                        <label for="dropdownFormEmail">Email</label>
                        <input type="email" name="email_address" class="form-control" id="dropdownFormEmail" placeholder="noroads@delorean.com" required="">
                        <div class="valid-feedback">
                            Affirmitive!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid email.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dropdownFormPassword">Password</label>
                        <input type="password" name="password" class="form-control" id="dropdownFormPassword" placeholder="Password" required="" autocomplete="current-password">
                        <div class="valid-feedback">
                            10-4!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a password.
                        </div>
                    </div>
                    <!-- <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label" for="dropdownCheck">
                            Remember me
                        </label>
                    </div> -->
                    <button type="submit" class="btn btn-outline-warning btn-block" id="sign-in-btn">Sign in</button>
                </form>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/signup">New around here? Sign up</a>
                <!-- <a class="dropdown-item" href="#">Forgot password?</a> -->
            </div>
        </div>
        <% } %>
        </div>
    </nav>