<!-- Page loading gif  -->
<div id="load-gif"></div>

<!-- Navbar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light" id="login-header">
        <a class="navbar-brand" href="/">CodeBook</a>

        <button class="mobile-dropdown navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
                
        <div class="mobile-dropdown collapse navbar-collapse" id="navbarSupportedContent">

        <form method="GET" action="/search" class="form-inline">
            <input class="form-control mr-sm-2" id="search-bar" name="searchTerm" type="search" placeholder="Search for a User with name, email or Git ID" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search-btn">Search</button>
        </form>
        
        <!-- <div class="btn-group"> -->
            <span id="login-error">Error!</span>
        <!-- </div> -->
        </div>
    </nav>