html, body {
    height: 100%;
    width: 100%;
    background-image: url(../imgs/wormz.png);
    overflow: hidden;
}
#load-gif {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: url(../imgs/Preloader_71.gif) center center no-repeat rgba(255, 255, 255, 1);
}
#search-btn {
    margin-right: 10px;
}
.form-group {
    margin-bottom: 1rem;
}
#sign-in-btn {
    margin-top: 5%;
    margin-bottom: -5%;
}
#browser {
    height: 93%;
}
object {
    height: 100%;
    width: 100%;
}
.container {
    background-color: rgba(255, 228, 196, 0.7);
    width: 60%;
    margin-top: 5%;
    border-radius: 10px;
    padding: 30px;
}
#profile-pic:hover {
    cursor: pointer;
    box-shadow: 5px 10px 20px rgba(136, 136, 136, 1), 5px 10px 20px rgba(255, 255, 255, 1);
}
#pic-upload {
    display: none;
}