<!doctype html>
<html lang="en" id="index-html">
<head>
	<% include ../partials/head %>
</head>
<body id="index-body">

	<header>
		<% include ../partials/index-header %>
	</header>

	<main id="index-main">
		<!-- Page body -->
			<object 
				<% if(typeof url == 'undefined'){ %>
					data="https://tayloraanenson.github.io/star-wars-rpg/"
				<% } else{ %>
					data="<%= url %>"
				<% } %> type=""></object>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>