<!doctype html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<!-- Page body -->
		<div class="container">
            <div class="form-row">
                <div>
                    <label id="profile-pic">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXMzIQ5Mz7oAmyAr726z56qS5QO7gTK9AFVj2TM2-izgMfbqWfLA" alt="User Pic" class="rounded" id="user-pic">
                    </label>
                </div>
                <div class="container" id="profile-info-container"></div>
                <div class="container" id="message-board-container"></div>
                <div class="container" id="message-input-container"></div>
            </div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>