<!doctype html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<!-- Page body -->
        <div class="container">
            <h1 class="text-center">Results for "<%= searchTerm %>"</h1>
            <div id="results">
				<% for(key in results){ %>
					<a href='/profile/<%= results[key].id %>'><%= results[key].first_name+' '+results[key].last_name %></a>	
				<% } %>
			</div>
        </div>
	</main>>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>