<!doctype html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
        <!-- Page body -->
        <div class="container" id="signup-container">
            <% if (typeof error == 'undefined'){

            }else if (error == 'ER_DUP_ENTRY'){ %>
            <div id="email-taken">That email address is already registered. Please use a different email.</div>
            <% } %>
            <form method="POST" action="/signup" class="needs-validation" novalidate="">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                    <label for="validationCustom01">First name</label>
                    <input type="text" name="first_name" class="form-control" id="validationCustom01" placeholder="..." required="">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        You must enter your first name.
                    </div>
                    </div>
                    <div class="col-md-6 mb-3">
                    <label for="validationCustom02">Last name</label>
                    <input type="text" name="last_name" class="form-control" id="validationCustom02" placeholder="..." required="">
                    <div class="valid-feedback">
                        Great!
                    </div>
                    <div class="invalid-feedback">
                        You must enter your last name.
                    </div>
                    </div>
                    <!-- <div class="col-md-4 mb-3">
                    <label for="validationCustomUsername">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        </div>
                        <input type="text" name="username" class="form-control" id="validationCustomUsername" placeholder="fluxmaster" aria-describedby="inputGroupPrepend" required="" autocomplete="username">
                        <div class="valid-feedback">
                            Awesome username!
                        </div>
                        <div class="invalid-feedback">
                            You must choose a username.
                        </div>
                    </div>
                    </div> -->
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                    <label for="validationCustom03">Email</label>
                    <input type="email" name="email_address" class="form-control" id="validationCustom03" placeholder="..." required="">
                    <div class="valid-feedback">
                        Affirmitive!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid email.
                    </div>
                    </div>
                    <div class="col-md-3 mb-3" id="pass">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password_hash" class="form-control" id="inputPassword" placeholder="..." required="" autocomplete="new-password">
                    <div class="valid-feedback">
                        10-4!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a password.
                    </div>
                    </div>
                    <div class="col-md-3 mb-3" id="conf">
                    <label for="inputPassword" id="confirm-long-text">Confirm password</label>
                    <label for="inputPassword" id="confirm-short-text">Confirm</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="..." required="" autocomplete="new-password">
                    <div class="valid-feedback">
                        Copy that!
                    </div>
                    <div class="invalid-feedback">
                        Please confirm your password.
                    </div>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required="">
                    <label class="form-check-label" for="invalidCheck">
                        Agree to terms and conditions
                    </label>
                    <div class="valid-feedback">
                        Thanks!
                    </div>
                    <div class="invalid-feedback">
                        You must agree before submitting.
                    </div>
                    </div>
                </div> -->
                <button class="btn btn-outline-dark" id="signup-btn" type="submit">Get in!</button>
            </form>
        </div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>