<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
        <div class="container">
            <form method="POST" action="">
                <label id="profile-pic" for="pic-upload">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXMzIQ5Mz7oAmyAr726z56qS5QO7gTK9AFVj2TM2-izgMfbqWfLA" alt="User Pic" class="rounded">
                </label>
                <input id="pic-upload" type="file" name="pic" accept="image/*">
            </form>
        </div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>