<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
        <div id="browser">
            <object data="https://tayloraanenson.github.io/Bootstrap-Portfolio-V2/" type=""></object>
        </div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>